{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form id="register" method="post" action="/register">
        <input autocomplete="off" autofocus name = "username" type="text" placeholder="Username">
        <input autocomplete="off" name = "password" type="text" placeholder="Password">
        <input autocomplete="off" name = "confirmation" type="text" placeholder="Confirm Password">
        <button type="submit" form="register">Submit</button>
    </form>
{% endblock %}